.text-bold{
	font-weight: bold;
}
.text-note{
	font-size: 14px;
	color: #95a5a6
}
.big-icon{
	font-size:100px;
}
.med-icon{
	font-size:20px;
}
.text-center{
	text-align: center;
	align-items: center;
}