.red box{
	background-color:red;
}
._field-input{
	display: inline;
	position: relative;
}
._field-input ._form-control::placeholder{
	font-weight: 600;
	color:#aaa;
}
._field-input ._form-control{
	width: 100%;
}
._field-input._underlined ._form-control{
	border :0px;
	border-bottom :2px solid #aaa;
	padding-bottom: 10px;
	box-sizing: border-box;
}
._field-input._underlined._with-icon ._form-control{
	padding-left: 40px;
	transition: .4s ease;
}
._field-input._underlined ._form-control:focus{	
	border-bottom :2px solid #e51b23;
	outline: 0;
}
._field-input._underlined._with-icon ._icon{
	position: absolute;
	top:0;
	bottom : 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	transition: .3s ease;
	font-size: 1.3rem;
}
._field-input._underlined ._form-control:focus ~ ._icon{
	color :#e51b23;
}
._field-input._underlined ._icon{
	color: #666;
}